@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { 
    width: 100%; 
    height:100%; 
    overflow:hidden; }

body { 
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* DATA */

#data {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid black;
}

/* HEADER */

#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

#logo {
    width: 40%;
    height: 50px;
    padding-top: 15px;
    float: left;
    padding-left: 10%;
}

#imgClose {
    width: 30px;
    height: 30px;
    float: right;
    margin: 25px;
}

/* MENU */

#menu {
    width: 100%;
    height: 80%;
}

#menu ul {
    margin-top: 100px;
}

#menu li {
    list-style: none;
    display: block;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
}

#menu p{
    float: left;
}

#menu img{
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#select {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

/* CONTAINER */

#container {
    width: 150%;
    height: 100%;
    margin-left: -50%;
}

#title{
    width: 100%;
    height: 5%;
    text-align: center;
}

#title h1{
    font-size: 40px;
}

#center {
    width: 80%;
    height: 38%;
    margin: -40px auto;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
    padding: 20px 20px;
}

fieldset {
    width: 95%;
    height: 95%;
    margin: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

#center li{
    font-size: 18px;
    list-style: none;
    text-align: center;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#center img {
    width: 300px;
    height: 250px;
    margin: 20px;
}

#center a{
    text-decoration: none;
    color: black;
}

#history div {
    text-align: left;
}

#history div h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

#history div h3 {
    margin: 0;
}


