@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html { 
    width: 100%; 
    height:100%; 
    overflow:hidden; }

body { 
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* DATA */

#data {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid black;
}

/* HEADER */

#header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid black;
}

#logo {
    width: 40%;
    height: 50px;
    padding-top: 15px;
    float: left;
    padding-left: 10%;
}

#imgClose {
    width: 30px;
    height: 30px;
    float: right;
    margin: 25px;
}

/* MENU */

#menu {
    width: 100%;
    height: 80%;
}

#menu ul {
    margin-top: 100px;
}

#menu li {
    list-style: none;
    display: block;
    width: 80%;
    height: 50px;
    margin-top: 20px;
    padding: 0 10px;
    text-align: center;
}

#menu p{
    float: left;
}

#menu img{
    width: 30px;
    height: 30px;
    float: right;
    margin: 10px;
}

#menu a{
    text-decoration: none;
    color: black;
}

#select {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
}

/* CONTAINER */

#container {
    width: 150%;
    height: 105%;
    margin-left: -50%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#title{
    width: 100%;
    height: 5%;
    margin-bottom: 3%;
    text-align: center;
}

#title h1{
    font-size: 40px;
}
#container img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 20px auto;
}

#editPhoto{
    width: 80px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    margin: 0 45%;
    font-size: 14px;
}

#editPhoto:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}

#center {
    width: 80%;
    height:70%;
    margin: auto;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 2px, rgba(0, 0, 0, 0.05) 0px 4px 12px;
    padding: 20px 20px;
}


#datosPersonales li{
    list-style: none;
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#datosPersonales input {
    margin: 10px;
    font-size: 14px;
}

#save {
    width: 80px;
    height: 30px;
    border: 1px solid;
    border-radius: 10px;
    background-color: white;
    margin: 0 45%;
    font-size: 14px;
}

#save:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.1) 0px 4px 12px;
    cursor: pointer;
}



#center ul {
    padding: 0;
}

#center li{
    font-size: 18px;
    list-style: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#center img {
    width: 306px;
    height: 195px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 20px;
    border-radius: 10px;
}

#center a{
    text-decoration: none;
    color: black;
}

#center button {
    width: 77px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    border: 1px solid grey;
    padding: 0 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease all;
}

#center button:hover {
    background-color: black;
    color: white;
}


/* POPUP */


.overlay {
    background-color: rgba(0,0,0,.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.overlay img{
    width: 20px;
    height: 20px;
}

.popup {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
	font-family: 'Open Sans', sans-serif;
    padding: 20px;
    text-align: center;
    width: 40%;
    height: 50%;
    overflow-y: scroll;
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
    border-radius: 10px;
}

#select {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    width: 80%;
    height: 80%;
    font-size: 14px;
    margin: 0 auto;
}

#selectOption {
    background-color: white;
    border: none;
    width: 80%;
    height: 80%;
    font-size: 14px;
    opacity: 0;
}

.cerrarPopup {
    display: block;
    text-align: right;
}

.popup h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
    margin: 30px;
    opacity: 0;
}

#registerTitle {
    font-size: 16px;
    font-weight: 200;
}

/* BOXCREATE */

.boxCreate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.boxCreate img {
    width: 280px;
    height: 195px;
    border-radius: 10px;
}

.boxCreate h1{
    margin: 0;
    font-size: 26px;
}

.boxCreate h3{
    margin-top: 0;
    text-align: center;
}

.boxCreate button{
    width: 77px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    border: 1px solid grey;
    padding: 0 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease all;
}

.boxCreate button:hover {
    background-color: black;
    color: white;
}

.boxCreate p {
    width: 80%;
    text-align: left;
    padding-left: 30px;
    opacity: 0;
}

/* BOXCREATE RECOMMENDATIONS */

.boxCreateRe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
}

.boxCreateRe img {
    width: 280px;
    height: 195px;
    border-radius: 10px;
}

.boxCreateRe h1{
    margin: 0;
    font-size: 26px;
}

.boxCreateRe h3{
    margin-top: 0;
    text-align: center;
}


#inputBoxCreate {
    width: 80%;
    height: 40px;
    margin-bottom: 20px;
    font-size: 14px;
}

.boxCreateRe button{
    width: 77px;
    height: 42px;
    border-radius: 21px;
    background-color: white;
    border: 1px solid grey;
    padding: 0 0;
    border: none;
    font-size: 18px;
    cursor: pointer;
    transition: .3s ease all;
}

.boxCreateRe button:hover {
    background-color: black;
    color: white;
}

.boxCreateRe p {
    width: 80%;
    text-align: left;
    padding-left: 30px;
    opacity: 0;
}

/* POPUP ACTIVATE*/

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup.active p {
    animation: entradaTextos .8s ease 1s forwards;
}

.popup.active select {
    animation: entradaSelect .8s ease 1s forwards;
}

.popup.active input{
    animation: entradaInputs .8s ease 1s forwards;
}

.popup.active h2{
    animation: entradaTitulo .8s ease 0.4s forwards;
}

/* ANIMATION */

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        transform: translateX(-25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entradaTextos {
    from {
        transform: translateX(-25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entradaSelect {
    from {
        transform: translateX(-25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes entradaTabla {
    from {
        transform: translateX(-25px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

